<?xml version="1.0"?>

<model>
  <name>ROM2109 TALL ROS2 CONTROL</name>
  <version>1.0</version>
  <sdf version="1.3">model-1_3.sdf</sdf>
  <sdf version="1.4">model-1_4.sdf</sdf>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Pyae Soan Aung</name>
    <email>romrobotics@gmail.com</email>
  </author>

  <description>
    Urdf was created at 2021 September and model is created at 2023 Jan.
  </description>

</model>
