<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="rom2109">

    <xacro:arg name="use_ros2_control" default="true"/>
    <xacro:arg name="use_depth_camera" default="false"/>
    
    <xacro:include filename="rom2109_core.xacro" />
    <xacro:include filename="lidar.xacro" />

    <xacro:include filename="hw_ros2_control.xacro" /> 
    <!-- <xacro:include filename="ros2_control.xacro" />  -->
    <!-- <xacro:include filename="gazebo_control.xacro" /> -->

    <xacro:include filename="camera.xacro" />
    <!-- <xacro:include filename="camera3d.xacro" /> -->

    <!--
        <xacro:if value="$(use_ros2_control)">
            <xacro:include filename="ros2_control.xacro" />
        </xacro:if>

        <xacro:unless value="$(use_ros2_contrl)">
            <xacro:include filename="gazebo_control.xacro" />
        </xacro:unless>
    
        
        <xacro:if value="$(use_depth_camera)">
            <xacro:include filename="camera3d.xacro" />
        </xacro:if>
        
        <xacro:unless value="$(use_depth_camera)">
            <xacro:include filename="camera.xacro" />
        </xacro:unless>
    -->

</robot>