<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >


    <joint name="camera_joint" type="fixed">
        <parent link="base_link"/>
        <child link="camera_frame"/>
        <origin xyz="0 0 0.175" rpy="0 0 0"/>
    </joint>

    <link name="camera_frame">
        <visual>
            <geometry>
                <cylinder radius="0.05" length="0.06"/>
            </geometry>
            <material name="red"/>
        </visual>
        <collision>
            <geometry>
                <cylinder radius="0.05" length="0.06"/>
            </geometry>
        </collision>
        <xacro:inertial_cylinder mass="0.1" length="0.06" radius="0.05">
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </xacro:inertial_cylinder>
    </link>


    <gazebo reference="camera_frame">
        <material>Gazebo/Black</material>

        <sensor name="camera" type="camera">
            <pose>0.064 -0.065 0.094  0 0 0 </pose>
            <visualize>true</visualize>
            <update_rate>10</update_rate>
            <camera>
                <horizontal_fov>1.089</horizontal_fov>
                <image>
                    <format>R8G8B8</format>
                    <width>640</width>
                    <height>480</height>
                </image>
                <clip>
                    <near>0.05</near>
                    <far>8.0</far>
                </clip>
            </camera>
            <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
                <frame_name>camera_link_optical</frame_name>
            </plugin>
        </sensor>
    </gazebo>

</robot>