<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="rom2109">
    
    <xacro:include filename="inertial_macros.xacro" />
    
    <xacro:include filename="rom2109_core.xacro" />
    <xacro:include filename="lidar.xacro" />

    <!-- <xacro:include filename="hw_ros2_control.xacro" />  -->
    <xacro:include filename="ros2_control.xacro" /> 
    <!-- <xacro:include filename="gazebo_control.xacro" /> -->

    <!-- <xacro:include filename="depth_camera.xacro" />
    <xacro:include filename="gps.xacro" /> -->

</robot>